<header>
  <nav>
    <a href="/">Note-Spot</a>
    <ul>
      <li><a href="/authors">Publisher</a></li>
      <li><a href="/authors/new">New Publisher</a></li>
      <li><a href="/books">Documents</a></li>
      <li><a href="/books/new">New Document</a></li>
    </ul>
  </nav>
</header>
