<div class="intro">
    <h5>What is Note-spot ?</h5>
    It is a Document library where you can read and download other's uploads and share your docs with others !
    <br>
    More like YouTube for pdfs.
</div>
<br>
Recently Added items;
<%- include('partials/bookGrid', { books: books}) %>
