<div class="intro">
    <h5 class="intro-box">What is Note-spot 📒?</h5>
    It is a Note sharing Online Library that allows users to share, download and upload files as large as 20 MB.
    <br>
    <span>Please login first to upload any files or to make any changes</span>
</div>
<br>
Recently Added items :
<%- include('partials/bookGrid', { books: books}) %>
