<div class="intro">
    <h5>What is Note-spot 📒?</h5>
    It is a Document library where you can read and download other's uploads and share your docs with others !
    <br>
    More like test version YouTube but for pdfs. <br>
    <h6 class="italic">This site is a just a test project, so apologies for the loading time.</h6> 
</div>
<br>
Recently Added items;
<%- include('partials/bookGrid', { books: books}) %>
