<div class="intro">
    <h5 class="intro-box">What is Note-spot 📒?</h5>
    It is a Note sharing Online Library that allows users to share, download and upload files as large as 20 MB.
    <br><br>
    <h6 class="apology italic">This site is a just a test project, so apologies for the loading time.</h6> 
</div>
<br>
Recently Added items :
<%- include('partials/bookGrid', { books: books}) %>
