Middle (from views/index.ejs)
<div>
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id %>"><img height='150' width="100" src="<%= book.coverImagePath %> " alt=""></a>
        <%= book.title %> 
        <%// console.log(book.coverImagePath) %> 
    <% }) %>   
</div>
