<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- <img src="/img/logo.png" alt="no img" class="logo"> -->

    <section class="download pt-4">
        <!-- <img class="download__icon" src="/img/download-sd.svg" alt="no img"> -->
        <% if(locals.error){ %>
            <%- include('../partials/errorMsg.ejs') %>
        <% } else { %>
        <div class="download__meta pb-2">
            <small>size (approx) : <%= parseInt(book.size/1000000) %> MB</small>
        </div>
        <div class="send-btn-container" style = "position:relative; left:270px; bottom:300px;">
            <iframe src="<%= book.file_url %>#view=fitH" style="width:80%; height:1200px;" frameborder="0"></iframe>
        </div>
        <% } %>
    </section>
</body>

</html>