<h2 class="page-header">temp</h2>
<!-- allows us to work with multipart forms (file-form) -->
<form action="/files" method="POST" enctype="multipart/form-data">
  <div class="form-row form-row-end btn-row">
    <label>Add document</label>
    <input type="file" name="myfile"/>
    <button class="btn btn-primary" type="submit">Send</button>
  </div>
</form>
