<h3 class="page-header"><i class="bi bi-person"></i> <%= author.name %></h3>
<div class="btn-row">
  <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">change name</a>
  <%- // include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
</div>
<% if (booksByAuthor.length > 0) { %>
  <p class="page-header mt-3 fs-4"><i class="bi bi-file-earmark-pdf"></i> files By Author : </p>
  <%- include('../partials/bookGrid', { books: booksByAuthor }) %>
<% } %>